<div class="container py-3">

  <!-- 🔷 Header -->
  <div class="mb-3">
    <h4 class="text-primary">🏥 Appointment Manager</h4>
    <small class="text-muted">{{today | date:'fullDate'}}</small>
  </div>

  <!-- 📱 Responsive Layout -->
  <div class="row g-3">
    
    <!-- <div class=""> -->
        <!-- 👤 PATIENT → Form + List -->
        <ng-container *ngIf="!auth.isAdmin()">
            <div class="col-12 col-md-5">                
                <app-appointment-form (refresh)="load()"></app-appointment-form>
            </div>
            <div class="col-12 col-md-7"> 
                <app-appointment-list [data]="appointments"></app-appointment-list>
             </div>
            
        </ng-container>
    <!-- </div> -->

    <div class="col-12 col-md-7 order-md-1">
        <!-- 🩺 DOCTOR → List only -->
        <ng-container *ngIf="auth.isAdmin()">
            <app-appointment-list [data]="appointments"></app-appointment-list>
        </ng-container>
    </div>
    
    <!-- 📝 Form -->
    <!-- <div class="col-12 col-md-5">
      <app-appointment-form (refresh)="load()"></app-appointment-form>
    </div> -->

    <!-- 📋 List -->
    <!-- <div class="col-12 col-md-7">
      <app-appointment-list [data]="appointments"></app-appointment-list>
    </div> -->
    
    
    </div>

</div>