<div class="appointment-card">

  <div class="d-flex justify-content-between align-items-center">
    <div>
      <div class="fw-bold">{{data.patientName}}</div>
      <small class="text-muted">{{data.doctorName}}</small>
    </div>

    <span 
      class="badge"
      [ngClass]="{
        'bg-warning': data.status === 'Pending',
        'bg-success': data.status === 'Confirmed',
        'bg-danger': data.status === 'Cancelled'
      }">
      {{data.status}}
    </span>
  </div>

  <div class="mt-2 small text-muted">
    📅 {{data.date}} &nbsp; ⏰ {{data.time}}
  </div>
<!-- 📢 MESSAGE -->
  <div class="small mt-1" *ngIf="!auth.isAdmin()">

    <span *ngIf="data.status === 'Pending'" class="text-muted">
      Waiting for confirmation
    </span>

    <span *ngIf="data.status === 'Confirmed'" class="text-success">
      Your appointment is confirmed
    </span>

    <span *ngIf="data.status === 'Cancelled'" class="text-danger">
      Appointment cancelled by hospital
    </span>

  </div>
  <div class="mt-3 d-flex gap-2" *ngIf="auth.isAdmin()">
    <button class="btn btn-success btn-sm flex-fill" (click)="confirm()">Confirm</button>
    <button class="btn btn-outline-danger btn-sm flex-fill" (click)="cancel()">Cancel</button>
  </div>

</div>